.hm-footer-contact img {
	margin-right: 6px !important;
}
.hm-footer-contact {
	margin-right: 16px !important;
}
.hm-nav .menu>.current-menu-parent>a, .hm-nav .menu>.current-menu-item>a {
	color: #3c7786;
}
.hm-nav .menu>.current-menu-item>a:after, #btGoTop {
	background: #3c7786;
}
.elementor-232 .elementor-element.elementor-element-0db424b.elementor-view-stacked .elementor-icon, .elementor-232 .elementor-element.elementor-element-5dc8141.elementor-view-stacked .elementor-icon, .elementor-232 .elementor-element.elementor-element-6a05bba.elementor-view-stacked .elementor-icon, .chaty-cta-button .chaty-svg svg circle, .chaty-cta-button .chaty-svg svg ellipse, .elementor-236 .elementor-element.elementor-element-339dc7d .elementor-icon-list-icon svg, .elementor-236 .elementor-element.elementor-element-a597b5d .elementor-icon-list-icon svg, .elementor-236 .elementor-element.elementor-element-977ea5f .elementor-icon-list-icon svg {
	fill: #3c7786;
}

.elementor-232 .elementor-element.elementor-element-0655db7 .elementor-button {
	background: #3c7786;
	border-color: #3c7786;
}
.hm-footer-contacts {
	padding-bottom: 24px;
}
.elementor-230 .elementor-element.elementor-element-90a1cf5.elementor-view-framed .elementor-icon,
.elementor-230 .elementor-element.elementor-element-9bfdf8d.elementor-view-framed .elementor-icon,
.elementor-230 .elementor-element.elementor-element-a98708f.elementor-view-framed .elementor-icon,
.elementor-230 .elementor-element.elementor-element-9d9bcac.elementor-view-framed .elementor-icon {
	background: #3c7786;
}